* {
margin: 0;
padding: 0;
border: 0;
line-height: 1.4em;
vertical-align: baseline;
text-decoration: none;
outline: 0;
}

html, body {
  overflow: visible;
}

.my-button {
  margin: 50px;
  width: 100px;
  height: 50px;
  background-color: red;
  border: 4px solid red;
  box-shadow: inset 10px 8px #741623;

  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -o-transition: all 0.45s;
  -ms-transition: all 0.45s;
  transition: all 0.45s;

  &:hover {
    margin: 25px;
    width: 150px;
    height: 100px;
    background-color: transparent;

    -webkit-transition: all 0.45s;
    -moz-transition: all 0.45s;
    -o-transition: all 0.45s;
    -ms-transition: all 0.45s;
    transition: all 0.45s;
    box-shadow: inset 0px 0px #741623;
  }
}

.my-filling-bar {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: transparent;
  background-image: url("https://www.pixelstalk.net/wp-content/uploads/2015/12/Iron-man-hd-wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 10px;
}

.space {
  width: 100%;
  height: 100vh;
  margin-bottom: 10px;
  display: none;
}

.b-red {
  background-color: red;
}
.b-blue {
  background-color: blue;
}
.b-green {
  background-color: green;
}
.b-yellow {
  background-color: yellow;
}

.body-fill {
  position: fixed;
  z-index: 999;
  background-color: blue;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  // display: none;
}

.image {
  height: 100vh;
  width: 100%;
  background-image: url("http://interek.com.pl/krzysiek/interek.com.pl/images/main-img.jpg");
}

.nav {
  display: none;
  background-color: black;
  width: 100%;
  position: fixed;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      float: left;

      a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    }
  }
}
