.card {
  &__overflow-test {
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 1px #a3a3a3;
    border-radius: 50%;
    overflow: hidden;
    img {
      transform: translateX(-150px);
    }
  }
}
