@keyframes d-none {
  0% {
    width: 0px;
    height: 0px;

  }
  100% {
    width: 0px;
    height: 0px;
  }
}
@keyframes go-down {
  0% {
    margin-left: 50px;
  }
  100% {
    margin-left: 500px;
  }
}
@keyframes hight-up {
  0% {
    height: 40px;
    top: calc(50vh - 20px);
  }
  50% {
    height: 40px;
    top: calc(50vh - 20px);
  }
  100% {
    height: 100vh;
    top: 0;
  }
}
@keyframes width-up {
  0% {
    width: 40px;
    height: 40px;
    background-color: blue;
    background-image: none;
    left: calc(50vw - 20px);
    top: calc(50vh - 20px);
    border-radius: 50%;
    transform: rotate(0deg);
  }
  10% {
    background-color: white;
    border-radius: 0%;
    transform: rotate(30deg);
  }
  20% {
    background-color: blue;
    border-radius: 50%;
    transform: rotate(60deg);
  }
  30% {
    background-color: white;
    border-radius: 0%;
    transform: rotate(90deg);
  }
  40% {
    background-color: blue;
    border-radius: 50%;
    background-image: none;
    transform: rotate(120deg);
  }
  50% {
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url("https://www.pixelstalk.net/wp-content/uploads/2015/12/Iron-man-hd-wallpaper.jpg");
    left: calc(50vw - 20px);
    top: calc(50vh - 20px);
    border-radius: 5px;
    transform: rotate(0deg);
  }
  100% {
    width: 100%;
    height: 40px;
    background-color: transparent;
    background-image: url("https://www.pixelstalk.net/wp-content/uploads/2015/12/Iron-man-hd-wallpaper.jpg");
    left: 0;
    top: calc(50vh - 20px);
    border-radius: 0px;
    transform: rotate(0deg);
  }
}

.my-filling-bar {
  animation-name: hight-up, width-up;
  animation-duration: 2s, 5s;
  animation-delay: 5s, 0s;
}

.animation-none {
  animation-name: d-none;
  animation-duration: 7s;
}

.preloader {
	position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
	background: blue;
	z-index: fixed;
}
